<div class="container">
  <div class="row header">
    <div class="col-3">
      <div class="distribute-items">
        <span class="app-name">blog app</span>
      </div>
    </div>
    <div class="col-9">
      <div class="distribute-items" style="justify-content: flex-end;">
        <ul *ngIf="!isUserSignedIn">
          <li routerLink="home"
              routerLinkActive="active">Home</li>
          <li routerLink="sign-in"
              routerLinkActive="active">Sign in</li>
          <li routerLink="sign-up"
              routerLinkActive="active">Sign up</li>
        </ul>
        <ul *ngIf="isUserSignedIn">
          <li routerLink="home"
              routerLinkActive="active">Home</li>
          <li routerLink="new-article"
              routerLinkActive="active">New article</li>
          <li routerLink="settings"
              routerLinkActive="active">Settings</li>
          <li>Username</li>
          <li routerLink="">Sign out</li>
        </ul>
      </div>
    </div>
  </div>
</div>
