<div class="container">
  <div class="row mt-4">
    <div class="col-12">
      <p class="text-center">Sign up</p>
      <p class="text-center">Have an account?</p>
    </div>
  </div>
  <div class="row mt-3" style="display: flex; justify-content: center;">
    <div class="form-box">
      <input type="text" class="form-control form-control-lg" placeholder="Username">
      <input type="email" class="form-control form-control-lg mt-3" placeholder="Email">
      <input type="password" class="form-control form-control-lg mt-3" placeholder="Password">
      <input type="button" class="form-control form-control-lg btn btn-success mt-3" value="Sign up">
    </div>
  </div>
</div>
