/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: Source Sans Pro;
}

:root {
  --color-primary: #5cb85c;
  --color-grey: rgba(0, 0, 0, 0.3);
  --color-black: rgba(0, 0, 0, 1);
  --color-white: #fff;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
